 <section id="viewCatalog" class="background-img">
    {{#if hotels}}
            <div class="added-hotels">
            {{#each hotels}}
            {{>hotelPartial}}
            {{/each}}
     {{else}}          
            </div>
            <div class="guest">
                There are no Hotels found...
            </div>
        </section>
{{/if}}


{{!-- {{#if user}}
<p>Hello {{user.username}}</p>
{{/if}} --}}