<h1>Register Page</h1>



<form method="POST">
    <label for="username">USERNAME:
        <input type="text" name="username">
    </label>
    <label for="username">PASSWORD:
        <input type="text" name="password">
    </label>
     <label for="username">REPEAT PASSWORD:
        <input type="text" name="repass">
    </label>
    <button>REGISTER</button>

</form>